/.vscode/
/Cache/Database/*
!/Cache/Database/.gitkeep
/Cache/Export/*
!/Cache/Export/.gitkeep
/Cache/Favicon/*
!/Cache/Favicon/.gitkeep
/Cache/Log/*
!/Cache/Log/.gitkeep
/Cache/Upload/*
!/Cache/Upload/.gitkeep
/Data/*
!/Data/.gitkeep
/node_modules/
/Public/node_modules/
/Public/themes/*
!/Public/themes/.gitkeep
/vendor/
*.code-workspace
